body {
    width: 300px;
    min-height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    margin: auto 10px;
    font-size: 22px;
    color: blue;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}